.submit-button {
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
  border-radius: 3px;
  padding: 15px;
  align-self: stretch;
  /* Текст */
  color: var(--on-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  /* Анимация */
  transition: opacity.3s, transform 0.3s;
}

.submit-button:hover {
  opacity: 0.8;
}

.submit-button:active {
  transform: scale(0.9);
}

.submit-button:disabled {
  background-color: var(--button-disabled);
  color: var(--on-button-disabled);
  pointer-events: none;
}
