/* Файл normalize.css */
@import url(./vendor/normalize.css);

/* Шрифт Inter*/
@import url(./vendor/fonts/inter-web/inter.css);

html {
  /* Плавная прокрутка */
  scroll-behavior: smooth;
}

/* Общий стиль для приложения */
.page {
  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* Шрифт для всей страницы */
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  /* Цветовая схема */
  --surface: #fff;
  --on-surface: #000;
  --on-surface-variant: #a0a0a0;
  --on-surface-variant-secondary: #e6e6e6;
  --promo: #465dff;
  --on-promo: #fff;
  --background: #f5f5f5;
  --on-background: #000;
  --background-variant: #f2f2f2;
  --background-variant-secondary: #e8e8e8;
  --primary: #2be080;
  --on-primary: #000;
  --footer: #fafafa;
  --on-footer: #a0a0a0;
  /* Цвета страницы по умолчанию */
  background-color: var(--surface);
  color: var(--on-surface);
}
