/* Файл normalize.css */
@import url(./vendor/normalize.css);

/* Шрифт Inter*/
@import url(./vendor/fonts/inter-web/inter.css);

/* Общий стиль для приложения */
.page {
  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* Плавная прокрутка */
  scroll-behavior: smooth;
  /* Шрифт для всей страницы */
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  /* Цветовая схема */
  --surface: #fff;
  --on-surface: #000;
  --promo: #465dff;
  --on-promo: #fff;
  --background: #f5f5f5;
  --on-background: #000;
  /* Цвета страницы по умолчанию */
  background-color: var(--surface);
  color: var(--on-surface);
}
